.ContactCSS {


margin-left: auto;
margin-right: auto;
}

shell{
    width: 970px;
    margin: 0 auto;
    min-width: 970px;
}

h1{

    color: red;
    
}

p {

    color: rgb(24, 2, 85);

}

ul{


    color:papayawhip;

}

body{
min-height: 100vh;
background: linear-gradient(#89e1e4,#3a6296)
}