.ContactCSS {

    margin-left: auto;
    margin-right: auto;
    }
    h1{
    
        color: red;
        
    }
    
    p {
    
        color: powderblue;
    
    }
    
    ul{
    
    
        color:papayawhip;
    
    }
    
    body{
    min-height: 100vh;
    background: linear-gradient(#1943ff,#1cb9d4)
    }