.main {

    background-color:rgb(15, 24, 105);

    margin-left: auto;
    margin-right: auto;

}

h1 {
    color:rgb(0, 183, 255);
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    }

p {
    font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
letter-spacing: 2px;
word-spacing: 2px;
color: #000000;
font-weight: 400;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
    color: rgb(8, 255, 8)

}

body
{
    min-height: 100vh;
    background: linear-gradient(#1d08dd,#531ee2);
}



ul{
    font-size: 18px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}    
body
{
    min-height: 100vh;
    background: linear-gradient(#1d08dd,#531ee2);
}.main {

    background-color:rgb(15, 24, 105);

    margin-left: auto;
    margin-right: auto;

}

h1 {
    color:blue;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    }

p {
    font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
letter-spacing: 2px;
word-spacing: 2px;
color: #000000;
font-weight: 400;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
    color: rgb(8, 255, 8)

}

body
{
    min-height: 100vh;
    background: linear-gradient(#1d08dd,#531ee2);
}
