.main {

    background-color:red;

    margin-left: auto;
    margin-right: auto;

}

h1 {
    color:blue;
    }

p {

    color: green

}

body
{
    min-height: 100vh;
    background: linear-gradient(#A14664,#681818);
}