html,body {
    height: 100%;
    margin:0;
}

.section1 {
margin-left: auto;
margin-right: auto;
background-color: #8a0000
}

.box {
    border: 3px solid rgb(0, 0, 0);
    background-color: #1f27b7;
    height: 100%;

}

body {
background-color: #007C99;
}

h1 {
    color:rgb(0, 183, 255);
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    }

p {
    font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
letter-spacing: 2px;
word-spacing: 2px;
color: #434bdf;
font-weight: 400;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
    color: rgb(8, 255, 8)

}



ul{
    font-size: 18px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}    

h1 {
    color:rgb(204, 2, 255);
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    }

p {
    font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
letter-spacing: 2px;
word-spacing: 2px;
color: #000000;
font-weight: 400;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
    color: rgb(8, 255, 8)
}