.main {

    background-color:rgb(15, 24, 105);

    margin-left: auto;
    margin-right: auto;

}

h1 {
    color:rgb(0, 183, 255);
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    }

p {
    font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
letter-spacing: 2px;
word-spacing: 2px;
color: #000000;
font-weight: 400;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
    color: rgb(8, 255, 8)

}

body
{
    min-height: 100vh;
    background: linear-gradient(#1d08dd,#531ee2);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:30%;
  }

  input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
  }
  
  /* When the input field gets focus, change its width to 100% */
  input[type=text]:focus {
    width: 30%;
  }

  header{

    padding: 80px; /* some padding */
    text-align: center; /* center the text */
    background: #b6b6b6; /* green background */
    color: white; /* white text color */  padding: 80px; /* some padding */
    text-align: center; /* center the text */
    background: #51ff00; /* green background */
    color: white; /* white text color */

  }
.main {

    background-color:rgb(15, 24, 105);

    margin-left: auto;
    margin-right: auto;

}

h1 {
    color:blue;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    }

p {
    font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
letter-spacing: 2px;
word-spacing: 2px;
color: #000000;
font-weight: 400;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
    color: rgb(8, 255, 8)

}

ul{
    font-size: 18px;
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}    
body
{
    min-height: 100vh;
    background: linear-gradient(#1d08dd,#531ee2);
}.main {

    background-color:rgb(15, 24, 105);

    margin-left: auto;
    margin-right: auto;

}

h1 {
    color:blue;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    }

p {
    font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
letter-spacing: 2px;
word-spacing: 2px;
color: #000000;
font-weight: 400;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
    color: rgb(8, 255, 8)

}

body
{
    min-height: 100vh;
    background: linear-gradient(#1d08dd,#531ee2);
}
